en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
fastcoref==2.1.6
Flask==3.0.0
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
spacy==3.7.2
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
transformers==4.36.2
sentencepiece==0.1.99
